
@{
    Layout = "_Layout";
    ViewData["Title"] = "Login";
}

@*<html>
    <body>
        <h1 type = "text-center">Здравствуйте</h1>
        <form asp-action="AuthenticatedLogin" asp-controller="Account">
           <div class = "form-group">
              <label asp-for="Email"  class = "col-md-4  control-label">Email:</label><br />
               <div class = "col-md-4">
                   <input type = "text" asp-for="Email" class = "form-control" />
                   <span asp-validation-for="Email"></span>
              </div>
          </div>
          <input type = "hidden" asp-for="Password"/>
           <input type = "hidden" asp-for="RememberMe"/>
       <input type="submit" value="Войти в личный кабинет" class="btn btn-primary"/>

       </form>
    </body>
</html>*@
<!DOCTYPE html>
<html>
    <body>
        @*<h2 class = "text-center">Страница регистрации</h2>
        <form method = "post" class = "registration-form" asp-controller="Account" asp-action = "AuthenticatedLogin">
            <div asp-validation-summary = "ModelOnly"></div>
            <p>Autended get</p>
            <div class = "form-group">
                <label asp-for = "FirstName" class = "col-md-4  control-label" >Имя:</label>
                <div class = "col-md-4">
                    <input type = "text" asp-for = "FirstName" class = "form-control"/>
                    <span asp-validation-for = "FirstName"></span>
                </div>
            </div>
             <div class = "form-group">
                <label asp-for = "SecondName" class = "col-md-4  control-label" >Фамилия:</label>
                <div class = "col-md-4">
                    <input type = "text" asp-for = "SecondName" class = "form-control"/>
                    <span asp-validation-for = "SecondName"></span>
                </div>
            </div>
           <div class = "form-group">
                <label asp-for = "Email" class = "col-md-4  control-label" >Email:</label>
                <div class = "col-md-4">
                    <input type = "email" asp-for = "Email" class = "form-control"/>
                    <span asp-validation-for = "Email"></span>
                </div>
            </div>
            <div class = "form-group">
                <label asp-for = "Password" class = "col-md-4  control-label" >Пароль:</label>
                <div class = "col-md-4">
                    <input type = "password" asp-for = "Password" class = "form-control"/>
                    <span asp-validation-for = "Password"></span>
                </div>
            </div>
             
            </div>
            <div class = "form-group">
                <label asp-for = "PhoneNumber" class = "col-md-4  control-label" >Номер телефона (необязательно):</label>
                <div class = "col-md-4">
                    <input type = "text" asp-for = "PhoneNumber" class = "form-control"/>
                    <span asp-validation-for = "PhoneNumber"></span>
                </div>
            </div>
             <div class = "form-group">
                <label asp-for = "BirthDate" class = "col-md-4  control-label" >Дата рождения (для получения бонусов):</label>
                <div class = "col-md-4">
                    <input type = "date" asp-for = "BirthDate" class = "form-control"/>
                    <span asp-validation-for = "BirthDate"></span>
                </div>
            </div>
            <div>
                <input type = "submit" class = "btn btn-primary" value = "Подтвердить"/>
            </div>
        </form>*@
        <form method = "post" action="~/account/AuthenticatedLogin">
              <label>email:</label><br />
    <input type="hidden" name="email"/><br />
    <input type="submit" value="Отправить" />
        </form>
        
    </body>
</html>
