@{

    ViewData["Title"] = "Login";
    Layout = "_Layout";
}

@model WebApplication1.ViewModels.LoginViewModel;

<!DOCTYPE html>
<html>
    <body>
        <h2 class = "text-center">Страница входа:</h2>
        <form method = "post" asp-controller = "Account" asp-action = "Login" class = "registration-form" role = "form" asp-route-returnUrl="@Model.ReturnUrl">
            <div asp-validation-summary = "ModelOnly"></div>
            <p>Заполните следующие поля</p>
            <div class = "form-group">
                <label for = "Password" class = "col-md-4  control-label" >Пароль:</label>
                <div class = "col-md-4">
                    <input type = "password" name = "Password" class = "form-control"/>
                </div>
            </div>
            <div class = "form-group">
                <label for = "Email" class = "col-md-4  control-label" >Почта:</label>
                <div class = "col-md-4">
                    <input type = "email" name = "Email" class = "form-control"/>
                </div>
            </div>
            <div>
                <input type = "submit" class = "btn btn-primary" value = "Войти"/>
            </div>
        </form>

    </body>
</html>