@{
    ViewData["Title"] = "Registration";
    Layout = "_Layout";
}

@model WebApplication1.ViewModels.RegisterViewModel;
<!DOCTYPE html>
<html>
    <body>
        <h2 class = "text-center">Страница регистрации</h2>
        <form method = "post" asp-controller = "Account" asp-action = "Registration" class = "registration-form" role = "form">
            <div asp-validation-summary = "ModelOnly"></div>
            <p>Заполните следующие поля</p>
            <div class = "form-group">
                <label for = "FirstName" class = "col-md-4  control-label" >Имя:</label>
                <div class = "col-md-4">
                    <input type = "text" name = "FirstName" class = "form-control"/>
                </div>
            </div>
             <div class = "form-group">
                <label for = "SecondName" class = "col-md-4  control-label" >Фамилия:</label>
                <div class = "col-md-4">
                    <input type = "text" name = "SecondName" class = "form-control"/>
                </div>
            </div>
             <div class = "form-group">
                <label for = "Email" class = "col-md-4  control-label" >Почта:</label>
                <div class = "col-md-4">
                    <input type = "email" name = "Email" class = "form-control"/>
                </div>
            </div>
            <div class = "form-group">
                <label for = "Password" class = "col-md-4  control-label" >Пароль:</label>
                <div class = "col-md-4">
                    <input type = "password" name = "Password" class = "form-control"/>
                </div>
            </div>
            <div class = "form-group">
                <label for = "ConfirmPassword" class = "col-md-4  control-label" >Повторите Пароль:</label>
                <div class = "col-md-4">
                    <input type = "password" name = "ConfirmPassword" class = "form-control"/>
                </div>
            </div>
            <div class = "form-group">
                <label for = "PhoneNumber" class = "col-md-4  control-label" >Номер телефона (необязательно):</label>
                <div class = "col-md-4">
                    <input type = "text" name = "PhoneNumber" class = "form-control"/>
                </div>
            </div>
            <div class = "form-group">
                <label for = "BirthDate" class = "col-md-4  control-label" >Дата рождения (для получения бонусов):</label>
                <div class = "col-md-4">
                    <input type = "date" name = "BirthDate" class = "form-control"/>
                </div>
            </div>
            <div>
                <input type = "submit" class = "btn btn-primary" value = "Подтвердить"/>
            </div>
        </form>

    </body>
</html>