@{
     
    ViewData["Title"] = "Choose Database";
} 
<div class="text-center">

        <h1>Выберите базу данных</h1>
        <div class = "main-page-images">
            <div class = "main-page-image">
                <a class = "btn btn-primary my-btn" asp-controller = "Store" asp-action = "CPUs">Процессоры</a>
            </div>
            <div class = "main-page-image">
                <a class = "btn btn-primary my-btn" asp-controller = "Store" asp-action = "Frames">Корпуса</a>
            </div >
            <div class = "main-page-image">
                <a class = "btn btn-primary my-btn" asp-controller = "Store" asp-action = "Phones">Телефоны</a>
            </div >
            <div class = "main-page-image">
                <a class = "btn btn-primary my-btn" asp-controller = "Store" asp-action = "GPUs">Видеокарты</a>
            </div >
             <div class = "main-page-image">
                <a class = "btn btn-primary my-btn" asp-controller = "Store" asp-action = "HDDs">HDD</a>
            </div >
             <div class = "main-page-image">
                <a class = "btn btn-primary my-btn" asp-controller = "Store" asp-action = "Motherboards">Материнские платы</a>
            </div >
             <div class = "main-page-image">
                <a class = "btn btn-primary my-btn" asp-controller = "Store" asp-action = "PowerSupplies">Блоки питания</a>
            </div >
             <div class = "main-page-image">
                <a class = "btn btn-primary my-btn" asp-controller = "Store" asp-action = "RAMs">Оперативная память</a>
            </div >
            <div class = "main-page-image">
                <a class = "btn btn-primary my-btn" asp-controller = "Store" asp-action = "SSDs">SSD</a>
            </div >
            <div class = "main-page-image">
                <a class = "btn btn-primary my-btn" asp-controller = "Store" asp-action = "Computers">Готовые сборки</a>
            </div >
        </div>
</div>