@model PerfectSite.Areas.Account.ViewModels.Account.LoginViewModel;
@{

    ViewData["Title"] = "Login";
}
<html>
    <body>
         <h2 class = "text-center">Страница входа</h2>
        <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl = "@Model.ReturnUrl">
            <div asp-validation-summary="ModelOnly"></div>
          <div class = "form-group">
              <label asp-for="Email"  class = "col-md-4  control-label">Email:</label><br />
               <div class = "col-md-4">
                   <input type = "text" asp-for="Email" class = "form-control" style="background-color: #232627; color:#d1cdc7;  border-color:  #121415;"/>
                   <span asp-validation-for="Email"></span>
              </div>
          </div>
          <div class = "form-group">
              <label asp-for="Password"  class = "col-md-4  control-label">Пароль:</label><br />
               <div class = "col-md-4">
                   <input type = "password" asp-for="Password" class = "form-control" style="background-color: #232627; color:#d1cdc7;  border-color:  #121415;"/>
                   <span asp-validation-for="Password"></span>
              </div>
          </div>
          <div  class = "form-group">
              <label asp-for="RememberMe"></label><br />
              <input asp-for="RememberMe" />
          </div>
          <div>
              <input type="submit" class = "btn btn-primary my-btn" value="Войти" />
          </div>
        </form>

        <p>Если у вас нет аккаунта, вы можете  <a asp-controller = "Account" asp-action="Register" asp-route-returnUrl = "@Model.ReturnUrl">зарегистрироваться</a></p>
    
        <div class="col-xl-12" style="margin-top:40px;">
        
     </div>
   </body>
</html>
