@model PerfectSite.Models.Order
@{
    ViewData["Title"] = "Thank you!";
    Layout = "_Layout";
}


<!DOCTYPE html>
<html>
    <body>
        <h1 class = "text-center">Спасибо!</h1>
        <h2  class = "text-center">Заказ номер @Model.Id оформлен</h2>
        <a class = "btn btn-primary my-btn" asp-controller = "Home" asp-action = "Index">На главную</a>
    </body>
</html>
