@model PerfectSite.ViewModels.Cabinet.ChangeNameViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Change name";
}

<html>
    <body>
        <form method = "post" asp-controller = "Cabinet" asp-action = "ChangeName">
     <div asp-validation-summary="ModelOnly" class="text-danger"></div>
     <input type="hidden" asp-for="Id" />
     <input type = "hidden" asp-for="OldName"/>
     <input type="hidden" asp-for="ChangingLabel"/>
     <label asp-for="NewName" class="control-label">Новое имя</label>
        <input type="text" asp-for="NewName"  class="form-control" style="background-color: #232627; color:#d1cdc7;  border-color:  #16191b;"/>
        <span asp-validation-for = "NewName"></span>
        <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-primary" />
    </div>
</form>

    </body>
</html>