@model WebApplication1.ViewModels.Cabinet.ChangePasswordViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Change password";
}
<html>
    <body>
        <h2>Изменение пароля пользователя</h2>
<form method = "post" asp-action="ChangePassword" asp-controller="Cabinet">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
 
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Email" />
    <div class="form-group">
        <label asp-for="OldPassword" class="control-label">Старый пароль</label>
        <input type="text" asp-for="OldPassword"  class="form-control" style="background-color: #232627; color:#d1cdc7;  border-color:  #16191b;"/>
        <span asp-validation-for = "OldPassword"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="control-label">Новый пароль</label>
        <input type="text" asp-for="NewPassword" class="form-control" style="background-color: #232627; color:#d1cdc7;  border-color:  #16191b;"/>
          <span asp-validation-for = "NewPassword"></span>
    </div>
    <div>
         <label asp-for="ConfirmPassword" class="control-label">Повторите пароль</label>
        <input type="password" asp-for="ConfirmPassword" class="form-control"style="background-color: #232627; color:#d1cdc7;  border-color:  #16191b;" />
          <span asp-validation-for = "ConfirmPassword"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-primary" />
    </div>
</form>

    </body>
</html>
