@{
     
    ViewData["Title"] = "Home Page";
}

<html>
    <body>
         <p align="center"> <a class = "btn-primary btn" asp-area="Store" asp-controller = "Data" asp-action = "Main">Редактирование базы данных товаров</a></p>
         <p align="center"><a class = "btn-primary btn" asp-area="Store" asp-controller = "Role" asp-action = "Main">Просмотр ролей и пользователей</a></p>
         <p align="center"> <a class = "btn-primary btn" asp-area="Store" asp-controller = "Home" asp-action = "OrderList">Просмотр заказов</a></p>
     </body>
</html>