@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<html>
    <body>
         <p align="center"><a class = "btn-primary btn" asp-controller = "Role" asp-action = "Main">Просмотр ролей и пользователей</a></p>
         <p align="center"> <a class = "btn-primary btn" asp-controller = "Data" asp-action = "Main">Редактирование базы данных товаров</a></p>
        
     </body>
</html>