@model WebApplication1.Data.Products.Phone
@{
    ViewBag.Title = "Удаление телефона";
}
 <html>
     <body>
         <div>
    <dl class="dl-horizontal my-text">
        <dt>Название</dt>
        <dd>
            @Html.DisplayFor(model => model.ModelName)
        </dd>
 
        <dt>Производитель</dt>
        <dd>
            @Html.DisplayFor(model => model.Manufacturer.Name)
        </dd>
    </dl>
 
    <div>
        <form asp-controller="Data" asp-action="Phone_Delete" method="post">
            <div class="form-group">
                <input type="submit" class="btn btn-primary my-btn" value="Удалить" />
            </div>
        </form>
    </div>
</div>
     </body>
 </html>
