@model PerfectSite.Data.Products.Phone
@{
    ViewBag.Title = "Добавление телефона";
}
<html>
    <body>
        <form asp-action="Phone_Create" asp-controller="Data" class = "my-text my-border-color">
              <div asp-validation-summary = "ModelOnly"></div>
    <div class="form-group">
        <label asp-for="ModelName" class="control-label">Название</label>
        <input type="text" asp-for="ModelName" class="form-control my-text my-border-color my-textbar-background" />
    </div>
    <div class="form-group">
        <label asp-for="Manufacturer.Name" class="control-label">Произодитель</label>
        <input type="text" asp-for="Manufacturer.Name" class="form-control my-text my-border-color my-textbar-background" />
    </div>
     <div class="form-group">
        <label asp-for="Price" class="control-label">Цена</label>
        <input type="number" step = "any" asp-for="Price" class="form-control my-text my-border-color my-textbar-background" />
    </div>
     <div class="form-group">
        <label asp-for="Amount" class="control-label">Колличество на складе</label>
        <input type="number" asp-for="Amount" class="form-control my-text my-border-color my-textbar-background" />
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label">Описание</label>
        <input type="text" asp-for="Description" class="form-control my-text my-border-color my-textbar-background"/>
    </div>
     <div class="form-group">
        <input type="hidden" asp-for="BoughtTimes" value = 0/>
        <input type = "hidden" asp-for = "Manufacturer.Products">
    </div>
    <div class="form-group">
        <input type="submit" value="Добавить" class="btn btn-primary" />
    </div>

</form>
    </body>
</html>
