html {
    color: #d1cdc7;
    background-color: #141616;
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        color: #d1cdc7;
        background-color: #121415;
        font-size: 16px;
    }
}
html {
    color: #d1cdc7;
    background-color: #121415;
    position: relative;
    min-height: 100%;
}
.my-link {
    text-decoration: none;
}
header {
    color: #d1cdc7;
    background-color: #121415;
}

.navbar {
    color: #d1cdc7;
    background-color: #121415;
}

container-fluid {
    color: #d1cdc7;
    background-color: #121415;
}

body {
    color: #d1cdc7;
    background-color: #121415;
    margin-bottom: 60px;
}

.my-btn {
    display: flex;
    justify-content: center;
    margin-right: 0.5%;
    margin-top: 1%;
    margin-bottom: 5%;
}

.change-password-btn {
    font-size: 150%;
}

.my-div {
    top: 50%;
    left: 50%;
}

.main-page-image {
    width: 25%;
    height: 25%;
    object-fit: cover;
    overflow: hidden;
}

.main-page-images {
    left: 10%;
    position: relative;
    overflow: hidden;
    width: 100%;
}

    .main-page-images .main-page-image {
        float: left;
        margin-right: 2%;
        margin-bottom: 2%;
        width: 25%;
        height: 25%;
        overflow: hidden;
    }

    .main-page-images img {
        width: 100%
    }

.my-text {
    color: #d1cdc7;
}

.my-background {
    background-color: #121415;
}

.my-textbar-background {
    background-color: #232627;
}

.my-border-color {
    border-color: #121415;
}

.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ff0000;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00
}

.validation-summary-valid {
    display: none;
}