@model PerfectSite.Data.Products.SSD
@{
    ViewBag.Title = "Добавление SSD";
}
<html>
    <body>
        <form asp-action="SSD_Create" asp-controller="Data" class = "my-text my-border-color">
              <div asp-validation-summary = "ModelOnly"></div>
    <div class="form-group">
        <label asp-for="ModelName" class="control-label">Название</label>
        <input type="text" asp-for="ModelName" class="form-control my-text my-border-color my-textbar-background" />
    </div>
    <div class="form-group">
        <label asp-for="Manufacturer.Name" class="control-label">Произодитель</label>
        <input type="text" asp-for="Manufacturer.Name" class="form-control my-text my-border-color my-textbar-background" />
        <span asp-validation-for="Manufacturer.Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Interface" class="control-label">Интерфейс</label>
        <input type="text" step = "any" asp-for="Interface" class="form-control my-text my-border-color my-textbar-background" />
        <span asp-validation-for="Interface"></span>
    </div>
    <div class="form-group">
        <label asp-for="Bandwidth" class="control-label">Пропускная способность</label>
        <input type="number" asp-for="Bandwidth" class="form-control my-text my-border-color my-textbar-background" />
        <span asp-validation-for="Bandwidth"></span>
    </div>
     <div class="form-group">
        <label asp-for="FormFactor" class="control-label">Форм фактор</label>
        <input type="number" asp-for="FormFactor" class="form-control my-text my-border-color my-textbar-background" />
         <span asp-validation-for="FormFactor"></span>
    </div>
   <div class="form-group">
        <label asp-for="Price" class="control-label">Цена</label>
        <input type="number" step = "any" asp-for="Price" class="form-control my-text my-border-color my-textbar-background" />
        <span asp-validation-for="Price"></span>
    </div>
     <div class="form-group">
        <label asp-for="Amount" class="control-label">Колличество на складе</label>
        <input type="number" asp-for="Amount" class="form-control my-text my-border-color my-textbar-background" />
        <span asp-validation-for="Amount"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label">Описание</label>
        <input type="text" asp-for="Description" class="form-control my-text my-border-color my-textbar-background"/>
    </div>
     <div class="form-group">
        <input type="hidden" asp-for="BoughtTimes" value = 0/>
        <input type = "hidden" asp-for = "Manufacturer.Products">
    </div>
    <div class="form-group">
        <input type="submit" value="Добавить" class="btn btn-primary" />
    </div>

</form>
    </body>
</html>
